body {
    margin: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gallery-container {
    width: 100%;
    max-width: 420px; /* NORMAL MOBILE GALLERY SIZE */
    overflow: hidden;
}

.gallery-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}
