body {
    margin: 0;
    background: #000;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#mainImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
